@font-face {
    font-family: 'vga';
    src: url('font/ibm-vga.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: small;
}
body {
    background-color: black;
    color: #00FF00; /* Classic green terminal text */
    font-family: 'vga', monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
nav {
    background-color: black;
    padding: 10px;
    border-bottom: 2px solid #00FF00;
    text-align: center;
  }
  nav a {
    color: #00FF00;
    text-decoration: none;
    font-family:'vga', monospace;
    margin: 0 15px;
    font-size: 18px;
  }
  nav a:hover {
    text-decoration: underline;
  }