 body {
     background-color: gray;
 }

 h1 {
     font-family: "OCR A Std", FreeMono, monospace;
     text-align: center;
     font-size: 40px;
}

 main {
    text-align: center;
    font-size: 25px;
}
box {
  width: 30%;
  height: 200px;
}

.trans {
  width: 100%; /* takes the 100 % width of its container (.box div)*/
  height: 100%; /* takes the 100 % height of its container (.box div)*/
}
